@tailwind base;
@tailwind components;
@tailwind utilities;
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #f5f5fa !important;
  -webkit-box-shadow: 0 0 0px 1000px #1d1d2c inset;
  border: 1px solid #5d3fd3;
}
